{%  extends 'layout/default.html.twig' %}
{% block body %}
<div class="container">
    <h3>
        <b>
            Hall Booking to internetowy serwis ogłoszeń sprzedaży i wynajmu nieruchomości,
            którego właścicielem jest Grupa OLX sp. z o.o.
        </b>
    </h3>
    <p>
        Hall Booking umożliwia użytkownikom przeglądanie i zamieszczanie ogłoszeń sprzedaży
        i wynajmu nieruchomości w szczególności mieszkań, domów, biur czy pokoi.
        W serwisie można również zamieścić reklamę swojej firmy i świadczonych
        usług jeśli są one związane z rynkiem nieruchomości.
    </p>
    <p>
        Ogłoszeniodawcom zapewniamy dotarcie z ofertą do dużej liczby zainteresowanych odbiorców.
        Poszukującym nieruchomości gwarantujemy stale powiększającą się bazę ogłoszeń sprzedaży
        lub wynajmu nowych mieszkań i lokali z rynku wtórnego oraz firm i usług działających w branży.
    </p>
    <b>Adres do korespondencji:</b>
    <p>
    Serwis Otodom
    Grupa OLX sp. z o.o.
    ul. Królowej Jadwigi 43
    61-872 Poznań
    </p>
    <h4>
        <b>
            Informacje o przedsiębiorcy prowadzącym serwis Otodom:
        </b>
    </h4>
    <p>
        Grupa OLX sp. z o.o. z siedzibą w Poznaniu, 61-872 Poznań, przy ul. Królowej Jadwigi 43,
        wpisana do rejestru przedsiębiorców prowadzonego przez Sąd Rejonowy Poznań - Nowe Miasto
        i Wilda w Poznaniu, Wydział VIII Gospodarczy Krajowego Rejestru Sądowego pod numerem KRS
        0000568963, posiadająca numer identyfikacji podatkowej NIP: 779-24-33-421 oraz numer REGON: 362117960.
    </p>
</div>
{% endblock %}