{%  extends 'layout/default.html.twig' %}
{% block body %}
    <div class="container">
        <div class="login-form">
            <form method="post" action="{{ path('login') }}">
                <h4>Logowanie</h4>
                <div class="form-row">
                    <div class="col-md-12 mb-3">
                        <input type="text" name="_username" class="form-control" placeholder="Username" required="" />
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-12 mb-3">
                    <input type="password" name="_password" class="form-control" placeholder="Password" required="" />
                    </div>
                </div>
                <div class="form-footer">
                    <button class="btn btn-primary btn-lg" type="submit">Zaloguj</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}