{%  extends 'layout/default.html.twig' %}
{% block body %}
    <div class="container">
        <div class="login-form">
            <form method="post" action="{{ path('login') }}">
                <h4>Logowanie</h4>
                <div class="form-row row">
                    <label for="value" class="col-md-2 col-form-label">
                        Login
                    </label>
                    <div class="col-md-10 mb-3">
                        <input type="text" name="_username" class="form-control" placeholder="Login" required="" />
                    </div>
                </div>
                <div class="form-row row">
                    <label for="value" class="col-md-2 col-form-label">
                        Hasło
                    </label>
                    <div class="col-md-10 mb-3">
                         <input type="password" name="_password" class="form-control" placeholder="Hasło" required="" />
                    </div>
                </div>
                <div class="form-footer">
                    <button class="btn btn-primary btn-lg" type="submit">Zaloguj</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}