{%  extends 'layout/default.html.twig' %}
{% block body %}
    <div class="container">
        <div class="login-form">
            <form method="post" action="{{ path('registration') }}">
                <h4>Rejastacja</h4>
                <div class="form-row">
                    <div class="col-md-12 mb-3">
                        <input type="text" name="firstName" class="form-control" placeholder="Imie" required="" />
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-12 mb-3">
                        <input type="email" name="email" class="form-control" placeholder="Poczta" required="" />
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-12 mb-3">
                        <input type="text" name="phone" class="form-control" placeholder="Telefon" required="" />
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-12 mb-3">
                        <input type="text" name="username" class="form-control" placeholder="Login" required="" />
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-12 mb-3">
                        <input type="password" name="password" class="form-control" placeholder="Hasło" required="" />
                    </div>
                </div>

                <div class="form-footer">
                    <button class="btn btn-primary btn-lg" type="submit">Dalej</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}