{%  extends 'layout/default.html.twig' %}
{% block body %}
    <div class="container">
        <div class="login-form">
            <h2>Dziękujemy za rejestracje</h2>
            <div class="btn-group btn-group-toggle">
                <a href="{{ path('login') }}" class="btn btn-success btn-lg">
                    Zaloguj
                </a>
            </div>
        </div>
    </div>
{% endblock %}