{%  extends 'layout/default.html.twig' %}
{% block body %}
    <div class="container">
        <h2>Rezerwcja zostala potwierdzona!</h2>
        <p>Sms z potwierdzeniem został wysłany do klienta</p>
        <p>Email z potwierdzeniem został wysłany do klienta</p>
        <div class="btn-group">
            <a href="{{ path('bookings_list') }}" class="btn btn-success">
                Lista rezerwacji
            </a>
            <a href="{{ path('rents_list') }}" class="btn btn-primary">
                Lista wynajęć
            </a>
        </div>
    </div>
{% endblock %}