{%  extends 'layout/default.html.twig' %}
{% block body %}
    <div class="container">
        <h3>Dodawanie opcji</h3>
        <div class="login-form">
            <form method="post" action="{{ path('option_add') }}">
                <div class="form-row">
                    <div class="col-md-12 mb-3">
                        <input type="text" name="name" class="form-control" placeholder="Nazwa" required="" />
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-12 mb-3">
                        <textarea class="form-control" name="description" placeholder="Opis"></textarea>
                    </div>
                </div>
                <div class="form-footer">
                    <button class="btn btn-primary btn-lg" type="submit">Dodaj</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}