

@import "~bootstrap/dist/css/bootstrap.min.css";


.navbar-nav-left,
.navbar-nav-right {
    list-style-type: none;

}

.navbar-nav-left li,
.navbar-nav-right li {
    display: inline-block;
}

.navbar-main .navbar-nav {
    display: inline-flex;
}

.navbar-main .navbar-nav li {
    display: inline-block;
}

.navbar-main {
    display: flex;
    justify-content: space-between;
}


.main-hero {
    background:  linear-gradient(to top, rgba(255,255,255,0.85), rgba(255,255,255,0.85)), url("../../public/assets/img/bg.jpg") center center no-repeat;
    background-size: cover;
    margin-top: -110px;
    padding-top: 200px;
    text-align: center;
}

.main-hero h2 {
    color: #007bff;
    font-weight: bold;
    margin-bottom: 30px;
}

.form-group-hero {
    display: inline-block;
    margin: 0 auto 100px auto;
    padding: 15px;
    background: #fff;
    border-radius: 5px;
}

h2.main-subtitle {
    color: #007bff;
    font-weight: bold;
    text-align: center;
    margin: 30px;
}

footer {
    margin-top: 30px;
    padding-top: 20px;
    border-top: 2px solid #007bff;
}


/*** -----  security view ----- ***/
.login-form {
    margin: 20px 200px;
}

.login-form h4 {
    text-align: center;
}

.form-footer {
    text-align: center;
}
/*** -----  end security view ----- ***/

/*** ----- catalog view ----- ***/
.catalog-container .card{
    margin-bottom: 10px;
}

.hall-card-body {
    display: flex;
    position: relative;
}

.hall-card-body .hall-images {
    width: 30%;
    display: flex;
    justify-content: space-between;
}

.hall-images .hall-image-main {
    width: 75%;
}

.hall-images .hall-image-main img {
    width: 100%;
}

.hall-images .hall-images-preview {
    width: 23%;
}

.hall-images .hall-images-preview img {
    width: 100%;
}


.hall-price {
    position: absolute;
    top: 0;
    right: 0;
}

.hall-price h4 {
    color: red;
}
/*** ----- end catalog view ----- ***/


/*** ----- item view ----- ***/
.hall-container {
    position: relative;
}

.hall-container .hall-images {
    display: flex;
    justify-content: space-between;
}
/*** ----- end item view ----- ***/

/*** ----- booking container ----- ***/
.booking-container {
    position: relative;
}

.booking-container ul.hall-images {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: flex-start;
}

.booking-container ul.hall-images li {
    max-width: 150px;
    margin-right: 5px;
}

.booking-container ul.hall-images li img {
    max-width: 150px;
}
/*** ----- end booking container ----- ***/
