

@import "~bootstrap/dist/css/bootstrap.min.css";


.navbar-nav-left,
.navbar-nav-right {
    list-style-type: none;

}

.navbar-nav-left li,
.navbar-nav-right li {
    display: inline-block;
}

.navbar-main .navbar-nav {
    display: flex;
    flex-direction: row;
}

.navbar-main .navbar-nav li {
    margin-left: 30px;
}

.navbar-main {
    display: flex;
    justify-content: space-between;
}


.main-hero {
    background:  linear-gradient(to top, rgba(255,255,255,0.85), rgba(255,255,255,0.85)), url("../../public/assets/img/bg.jpg") center center no-repeat;
    background-size: cover;
    margin-top: -110px;
    padding-top: 200px;
    text-align: center;
}

.main-hero h2 {
    color: #007bff;
    font-weight: bold;
    margin-bottom: 30px;
}

.form-group-hero {
    display: inline-block;
    margin: 0 auto 100px auto;
    padding: 15px;
    background: #fff;
    border-radius: 5px;
}

h2.main-subtitle {
    color: #007bff;
    font-weight: bold;
    text-align: center;
    margin: 30px;
}

footer {
    margin-top: 30px;
    padding-top: 20px;
    border-top: 2px solid #007bff;
}


.card-img-top {
    height: 150px;
}

.card-body p {
    margin-bottom: 3px;
}

.card-body .card-price {
    color: red;
}

.card-body .card-price h4 {
    margin-bottom: 0;
}

/*** -----  security view ----- ***/
.login-form {
    margin: 20px 200px;
}

.login-form h4 {
    text-align: center;
}

.form-footer {
    text-align: center;
}
/*** -----  end security view ----- ***/

/*** ----- catalog view ----- ***/
.catalog-container .card{
    margin-bottom: 10px;
}

.hall-card-body {
    display: flex;
    position: relative;
}

.hall-card-body .hall-images {
    width: 250px;
    justify-content: space-between;
}

.catalog-container .hall-image-main {
    height: 200px;
    background-repeat: no-repeat;
}


.hall-images .hall-image-main img {
    width: 100%;
}

.hall-images .hall-images-preview {
    margin-top: 10px;
}

.hall-images .hall-images-preview img {
    width: 32%;
}

.hall-description {
    padding-left: 10px;
}

.hall-description h3 {
    padding-right: 30px;
}

.hall-description p {
    margin-bottom: 3px;
}

.hall-price {
    position: absolute;
    top: 1.25em;
    right: 1.25em;
    color: red;
    text-align: right;
}

.hall-price h4 {
    margin-bottom: 0;
}
/*** ----- end catalog view ----- ***/


/*** ----- item view ----- ***/
.hall-container {
    position: relative;
}

.hall-container .hall-image-main {
    height: 300px;
    width: 100%;
    background-repeat: no-repeat;
}

.hall-container h1 {
    padding-right: 50px;
}

.hall-container p {
    margin-top: 3px;
    margin-bottom: 3px;
}
/*** ----- end item view ----- ***/

/*** ----- booking container ----- ***/
.booking-container {
    position: relative;
}

.booking-container ul.hall-images {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: flex-start;
}

.booking-container ul.hall-images li {
    width: 150px;
    height: 120px;
    margin-right: 5px;
}

.booking-container ul.hall-images li img {
    width: 150px;
    display: inline-block;
    vertical-align: bottom;
}

.booking-container ul.hall-images li p {
    width: 0;
    height: 120px;
    display: inline-block;
    vertical-align: bottom;
}
/*** ----- end booking container ----- ***/



/*** ----- alerts ----- ***/
.app {
    position: relative;
}

.app #alert-container {
    position: absolute;
    width: 700px;
    margin: auto;
    top: 20px;
    left: 0;
    right: 0;
    z-index: 100;
}

/*** ----- end alerts ----- ***/
